/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from body */
}

/*
 * Base structure
 */
body {
  /* You can enable these for subtle text or box shadows if desired */
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */
.logo {
  width: 2rem;
  margin-right: 1rem;
}

.nav-masthead .nav-link,
.nav-item {
  padding: 0.25rem 0;
  font-weight: 700;
  color: #212529;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  text-decoration: underline;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-item {
  margin: 0 1rem;
}

.nav-masthead .active {
  text-decoration: underline;
}

.hide-details .toggle-details {
  display: none;
}

ul.no-bullets {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}


/*
 * Social & Buttons
 */
.social-icons .social-icon:hover,
.btn-dark {
  background-color: #503138;
  border-color: #503138;
}

.border-primary {
  border-color: #503138 !important;
}

/*
 * Branding / Images
 */
.main-brand .img-profile {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.5rem solid #503138;
}

/*
 * Sections
 */
section.resume-section {
  min-height: 100vh;
}

/*
 * Media
 */
iframe.video {
  width: 100%;
  height: 300px;
}
